/changelog.upstream
/generated-m4.list
/generated-po.list

*.debhelper.log
*.debhelper

/normal-build/
/xzdec-build/
/tmp/

/liblzma0/
/xz-utils/
/xz-lzma/
/liblzma-dev/
/liblzma-doc/

/files
*.substvars
